<div *ngIf='usuario !== null' class='ion-page' id="main">
    <ion-header class="header-home">
        <ion-toolbar align='center' color='elemento'>
            <ion-title>
                {{usuario.email}}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color='fondo'>
        <div class='contenido' style="text-align: center; margin-top: 25px;">
            <div style="margin: 10px auto; height: 200px; width:300px; border-radius: 20px; background-color: #eb445a;" (click)='sala("Division A")'>
                <h1 style="margin-top: 30%;">PPS-4A</h1>
            </div>
            <div style="margin: 10px auto; height: 200px; width:300px; border-radius: 20px; background-color:  #3880ff;" (click)='sala("Division B")'>
               <h1 style="margin-top: 30%;">PPS-4B</h1>
            </div>
        </div>
    </ion-content>
    <ion-footer>
        <ion-toolbar color="fondo">
            <ion-button color='danger' expand='block' (click)='cerrarSesion()'>Cerrar Sesion</ion-button>
        </ion-toolbar>
    </ion-footer>
</div>